.character {
  border: 2px solid rgb(220, 235, 20);
  background-color: rgb(6, 7, 7);
  color: rgb(187, 235, 54);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0px 0px 0px 0px;
  padding: 10px 0px 0px 10px;
}

h2 {
  color: rgb(238, 235, 37);
  font-size: 24px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
